<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <title>Document</title>
</head>
<body>
    <h1>Micro-Microblog</h1>
    <form action="/" method="post" class="form-example">
        <div class="form-example">
          <label for="contenu">Entrez votre contenu: </label>
          <input type="text" name="contenu" id="contenu" required>
        </div>
        <div class="form-example">
            <label for="password">Entrez votre secret: </label>
            <input type="password" name="password" id="password" required>
          </div>
        <div class="form-example">
          <input type="submit" value="Envoyez!">
        </div>
      </form>
      <div id="container"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/12.3.2/markdown-it.min.js"
        integrity="sha512-TIDbN32lXOg2Mw1VcnKrQLZgfALryJogWCu/NHWtlMCR1jget+mOwMtdehBBZz2f9PKeK2AQPwVxkbl4u/1H5g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>


  

var json = "../DATA/posts.json";
  fetch(json)
      .then(response => response.json())
      .then(data => {
          console.log(data)
          data.forEach(file => {
              fetch(file)
                  .then(response => response.json())
                  .then(data => {
                      console.log(data)

                      let container = document.getElementById('container')
                      let divpost = document.createElement('div')

                      let url = document.createElement('div')
                      url.innerHTML = 'url:' + `<a href=` + data.url + `>` + data.url
                      divpost.appendChild(url)
                      
                      var md = window.markdownit();
                      var result = md.render(data.contenu)

                      let contenu = document.createElement('div')
                      contenu.innerHTML = 'contenu:' + ' ' + result
                      divpost.appendChild(contenu)

                      let date = document.createElement('div')
                      date.innerHTML = "date:" + " " + new Date().toDateString(data.date)
                            divpost.appendChild(date)

                      container.appendChild(divpost)

                  })
          })

      });


</script>
</html>